@using ECommerce.Logic.Objects
@{
    ViewBag.Title = "Index";
}

<div class="items-field">
    <h2>Koszyk</h2>
    @foreach (var item in ShoppingCart.Items)
    {
        <div style="display:flex; flex-direction: row;">
            <div style="width: 30px; height: 30px">
                <img src="~/Content/Pictures/@item.PhotoName" class="in-box-picture" style="border: 1px solid;" />
            </div>
            <div style="margin-left:10px; min-width: 120px">
                @item.Name
            </div>
            @Html.Partial("CartAddRemovePartial", item.ID)
            <div style="min-width: 120px">
                (@item.Price za szt.) Suma: @item.TotalPrice zł
            </div>
        </div>
    }


    <div id="sum-price" style="flex; flex-direction: column">
        <h2>Łącznie @ShoppingCart.Price zł</h2>
        @Html.ActionLink("Płacę", "Index", "Payment", new { price = ShoppingCart.Price }, new { })
    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-button').click(function () {
                reload_div('#sum-price')
            })
            $('.remove-button').click(function () {
                reload_div('#sum-price')
            })

            @foreach(var item in ShoppingCart.Items)
            {
                <text>
                    add_and_remove_button_clicks('@Url.Action("AddToCart","ShoppingCart")', '@Url.Action("RemoveFromCart", "ShoppingCart")', @item.ID);
                </text>
            }
        })
    </script>
}