@using ECommerce.Logic.Objects
@model ECommerce.Logic.Objects.Item
@{
    ViewBag.Title = "Index";
}

<div class="items-field">
    <div style="display: flex; flex-direction: row">
        <div style="width: 300px; height: 300px;">
            <img src="~/Content/Pictures/@Model.PhotoName" class="in-box-picture" style="border: solid 3px" />
        </div>
        <div style="max-width: 600px; margin-left: 20px">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
        </div>
    </div>
    <p>Cena: @Model.Price</p>

    @Html.Partial("CartAddRemovePartial", Model.ID)

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            add_and_remove_button_clicks('@Url.Action("AddToCart","ShoppingCart")','@Url.Action("RemoveFromCart", "ShoppingCart")', @Model.ID );
        })
    </script>
}