@using ECommerce.Logic.Objects
@model ECommerce.Logic.Objects.Item
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

<div style="width: 300px; height: 300px">
    <img src="~/Content/Pictures/@Model.PhotoName" class="in-box-picture" />
</div>
<p>@Model.Description</p>
<p>Cena: @Model.Price</p>

<div id="shopping_card" style="display: flex; flex-direction: row; width: 20%">
    <button id="add" class="add-button">+</button>
    <div id="cart-amount" class="left-right-margin">
        <p> W koszyku: @ShoppingCart.HowManyInCart(Model.ID) </p>
    </div>
    <button id="remove" class="remove-button">-</button>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            AddAndRemoveButtonClicks('#cart-amount', '@Url.Action("AddToCart","ShoppingCart")','@Url.Action("RemoveFromCart", "ShoppingCart")', @Model.ID );
        })

    </script>
}