@using ECommerce.Logic.Objects
@model ECommerce.Logic.Objects.Item
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

<div style="width: 300px; height: 300px">
    <img src="~/Content/Pictures/@Model.PhotoName" class="in-box-picture" />
</div>
<p>@Model.Description</p>
<p>Cena: @Model.Price</p>

@Html.Partial("CartAddRemovePartial", Model.ID)


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            AddAndRemoveButtonClicks('#cart-amount', '@Url.Action("AddToCart","ShoppingCart")','@Url.Action("RemoveFromCart", "ShoppingCart")', @Model.ID );
        })

    </script>
}